<div class="card card--article">
  <div class="row g-0">
    <div class="col-md-4">
      {% include 'image', src: item.image, alt: item.title, size: '430x350', img_class: 'img-fluid card-img-top' %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {% assign type = item.handle | split: '/' | first %}
        <p class="card-text text-muted small">{{ blogs[type].title }}</p>
        <p class="h2 card-title">{{ item.title }}</p>
        {% if item.excerpt.size > 0 %}
          <p class="card-text text-muted">{{ item.excerpt }}</p>
        {% else %}
          <p class="card-text text-muted">{{ item.content | strip_html | truncatewords: 20 }}</p>
        {% endif %}
        <p><a href="{{ item.url }}" class="btn btn-primary stretched-link">{{ 'general.navigation.read_more' | t }}</a></p>
        <small class="card-text text-muted">{{ article.author }} — {{ item.created_at | time_tag: format: 'abbreviated_date' }}</small>
      </div>
    </div>
  </div>
</div>
