<div class="card card--article">
  {% include 'image', src: item.image, alt: item.title, size: '412x', img_class: 'img-fluid card-img-top' %}
  <div class="card-body">
    {% assign type = item.handle | split: '/' | first %}
    <p class="card-text text-muted small">{{ blogs[type].title }}</p>
    <p class="h2 card-title">{{ item.title }}</p>
    {% if item.excerpt.size > 0 %}
      <p class="card-text text-muted">{{ item.excerpt }}</p>
    {% else %}
      <p class="card-text text-muted">{{ item.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
    <p><a href="{{ item.url }}" class="btn btn-primary stretched-link">{{ 'general.navigation.read_more' | t }}</a></p>
    <small class="card-text text-muted">{{ article.author }} — <time datetime="{{ item.created_at | time_tag }}">{{ item.created_at | time_tag: format: 'abbreviated_date' }}</time></small>
  </div>
</div>
