<div class="card">
  {% include 'image', src: article.image, alt: article.title, size: '412x', img_class: 'img-fluid card-img-top' %}
  <div class="card-body">
    {% assign type = article.handle | split: '/' | first %}
    <p class="card-text text-muted small">{{ blogs[type].title }}</p>
    <p class="h2 card-title">{{ article.title }}</p>
    {% if article.excerpt.size > 0 %}
      <p class="card-text text-muted">{{ article.excerpt }}</p>
    {% else %}
      <p class="card-text text-muted">{{ article.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
    <p><a href="{{ article.url }}" class="btn btn-primary stretched-link">{{ 'general.navigation.read_more' | t }}</a></p>
    <p class="card-text"><small class="text-muted">{{ article.created_at | time_tag: format: 'abbreviated_date' }}</small></p>
  </div>
</div>
