{%- if container != 'container' -%}
  {%- assign padding_class = "" -%}
{%- else -%}
  {%- assign padding_class = " py-5" -%}
{%- endif -%}
{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}
<div class="{{ custom_background }}{{ padding_class }}">
  <div class="{{ container }}">
    <div class="splide js-carousel" data-next="{{ 'general.pagination.next' | t }}" data-prev="{{ 'general.pagination.previous' | t }}">
      <div class="splide__track">
        <div class="splide__list">

          {%- for block in blocks -%}
            {%- assign custom_url = block.settings.url -%}
            {%- assign image = block.settings.image -%}
            {%- assign custom_title = block.settings.title -%}
            {%- assign custom_subtitle = block.settings.subtitle -%}
            {%- assign position = block.settings.position -%}
            {%- assign offset = block.settings.offset -%}
            {%- assign cta = block.settings.cta -%}
            {%- assign cta_style = block.settings.cta_style -%}
            {%- assign custom_cta = 'general.navigation.read_more' | t -%}
            {%- if cta != '' -%}
              {%- assign custom_cta = cta -%}
            {%- endif -%}
            {% case position %}
              {% when "center" %}
                {%- assign row_class = "align-items-center" -%}
                {%- assign col_class = "offset-md-3 text-center" -%}
              {% when "right" %}
                {%- assign row_class = "align-items-end" -%}
                {%- assign col_class = "offset-md-6" -%}
                {%- if offset -%}
                  {%- assign col_class = "offset-md-6 offset-lg-5" -%}
                {%- endif -%}
              {% else %}
                {%- assign row_class = "align-items-end" -%}
                {%- assign col_class = "" -%}
                {%- if offset -%}
                  {%- assign col_class = "offset-lg-1" -%}
                {%- endif -%}
            {% endcase %}
            <div class="splide__slide">
              {% include 'push' %}
            </div>
          {%- endfor -%}

        </div>
      </div>
    </div>
  </div>
</div>
