{% case grid %}
  {% when 1 %}
    {%- assign col = 'row-cols-1' -%}
  {% when 2 %}
    {%- assign col = 'row-cols-2' -%}
  {% when 3 %}
    {%- assign col = 'row-cols-2 row-cols-md-3' -%}
  {% when 4 %}
  {%- assign col = 'row-cols-2 row-cols-md-3 row-cols-lg-4' -%}
{% endcase %}

{%- assign align_text = '' -%}
{%- assign align_col = '' -%}
{%- if center -%}
  {%- assign align_text = 'text-md-center' -%}
  {%- assign align_col = 'justify-content-md-center' -%}
{%- endif -%}

{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}

<div class="py-5 {{ custom_background }}">
  <div class="container">
    {% if title != blank %}
      <header class="mb-3 {{ align_text }}">
        {% if surtitle != blank %}
          <p class="mb-0">{{ surtitle | escape }}</p>
        {% endif %}
        <h2 class="mb-0">{{ title | escape }}</h2>
        {% if subtitle != blank %}
          <p class="mb-0">{{ subtitle | escape }}</p>
        {% endif %}
      </header>
    {% endif %}
    <div class="row {{ col }} {{ align_col }} gy-3">
      {% for block in section.blocks limit: section.blocks.size %}
        <div class="col" {{ block.shopify_attributes }}>
          {%- assign product_featured = all_products[block.settings.id_product] -%}
          {% include 'product', item: product_featured %}
        </div>
      {% endfor %}
    </div>
    {% if url != blank %}
      <footer class="mt-3 {{ align_text }}">
        <a href="{{url}}" class="btn {{cta_style}}">{{cta}}</a>
      </footer>
    {% endif %}
  </div>
</div>
