<div class="faceted">
  <form id="FacetFiltersForm" class="faceted__form">
  {%- for filter in collection.filters -%}
    <p class="h5">{{ filter.label | escape }}</p>
    <div class="faceted__facet">
    {% case filter.type %}

      {% when 'list' %}
        <ul class="faceted__list" role="list">
          {%- for value in filter.values -%}
            <li class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                {% if value.active %}checked{% endif %}
                {% if value.count == 0 and value.active == false %}disabled{% endif %}
                >
              <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="form-check-label">{{ value.label | escape }} ({{ value.count }})</label>
            </li>
          {%- endfor -%}
        </ul>

      {% when 'price_range' %}
        <div class="faceted__price-range">
          <div class="form-floating">
            <input
              type="number"
              name="{{ filter.min_value.param_name }}"
              class="form-control"
              id="Filter-{{ filter.label | escape }}-GTE"
              {%- if filter.min_value.value -%}
                {%- if uses_comma_decimals -%}
                  value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                {%- else -%}
                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                {% endif %}
              {%- endif -%}
              min="0"
              {%- if uses_comma_decimals -%}
                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
              {%- else -%}
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
              {% endif %}
              placeholder="0"
              >
            <label for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.faceted.from' | t }}</label>
          </div>

          <div class="form-floating">
            <input
              type="number"
              name="{{ filter.max_value.param_name }}"
              class="form-control"
              id="Filter-{{ filter.label | escape }}-GTE"
              {%- if filter.max_value.value -%}
                {%- if uses_comma_decimals -%}
                  value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                {%- else -%}
                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                {% endif %}
              {%- endif -%}
              min="0"
              {%- if uses_comma_decimals -%}
                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
              {%- else -%}
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
              {% endif %}
              {%- if uses_comma_decimals -%}
                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
              {%- else -%}
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
              {% endif %}
              >
            <label for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.faceted.to' | t }}</label>
          </div>
        </div>

    {% endcase %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn--secondary">{{ 'products.facets.sort_button' | t }}</button>

  </form>
</div>
