<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a href="{{ routes.search_url }}" class="nav-link" title="{{ 'general.search.title' | t }}">
      <span class="material-icons-outlined">search</span>
    </a>
  </li>
  {% assign user_url = routes.account_login_url %}
  {% if customer %}
    {% assign user_url = routes.account_url %}
  {% endif %}
  <li class="nav-item">
    <a href="{{ user_url }}" class="nav-link" title="{{ 'customer.account.title' | t }}">
      <span class="material-icons-outlined">person_outline</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ routes.cart_url }}" class="nav-link cart__notif" title="{{ 'cart.general.title' | t }}">
      <span class="material-icons-outlined">shopping_bag</span>
      <span class="notif js-cart-notif">{{ itemCart }}</span>
    </a>
  </li>
</ul>
