<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a href="{{ routes.search_url }}" class="nav-link" title="{{ 'general.search.title' | t }}">
      {{ 'general.search.title' | t }}
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ routes.cart_url }}" class="nav-link cart__notif" title="{{ 'cart.general.title' | t }}">
      <span class="material-icons-outlined">shopping_bag</span>
      <span class="notif js-cart-notif">{{ itemCart }}</span>
    </a>
  </li>
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="nav-item"><a href="{{ routes.account_url }}" class="nav-link" title="{{ 'customer.account.title' | t }}">{{ 'customer.account.title' | t }}</a></li>
    {% else %}
      <li class="nav-item">{{ 'log in' | customer_login_link | replace: '<a', '<a class="nav-link"' }}</li>
      <li class="nav-item">{{ 'register' | customer_register_link | replace: '<a', '<a class="nav-link"' }}</li>
    {% endif %}
  {% endif %}
</ul>
