<div class="card card--page">
  <div class="card-body">
    <p class="h2 card-title">{{ page.title }}</p>
    <p class="card-text text-muted">{{ page.excerpt }}</p>
    {% if page.excerpt.size > 0 %}
      <p class="card-text text-muted">{{ page.excerpt }}</p>
    {% else %}
      <p class="card-text text-muted">{{ page.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
    <p><a href="{{ page.url }}" class="btn btn-primary stretched-link">{{ 'general.navigation.read_more' | t }}</a></p>
  </div>
</div>
