{%- assign current_variant = item.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: item.featured_image -%}
{%- assign featured_media = item.featured_media -%}
{%- assign poster = "256x150" -%}
{%- assign image_size = '352x352' -%}
<div class="card card--product">

  {% if featured %}
    {%- assign poster = "635x400" -%}
    <div class="row no-gutters align-items-center">
      <div class="col-md-6">
  {% endif %}

  <div class="ratio ratio-1x1 ratio--contain bg-light">
    {%- if featured_media -%}
      {% case featured_media.media_type %}
        {% when 'image' %}
          {% include 'image', src: featured_image, size: image_size, img_class: 'card-img-top' %}
        {% when 'external_video' %}
          {% include 'external-video', media: featured_media %}
        {% when 'video' %}
          {% include 'video', media: featured_media, ratio: false, poster: poster, autoplay: true, mutted: true %}
      {% endcase %}
    {%- endif -%}
  </div>

  {% if featured %}
    </div>
    <div class="col-md-6">
  {% endif %}

    <div class="card-body">
      {% unless item.available %}<span class="badge bg-danger">{{ 'products.product.sold_out' | t }}</span>{% endunless %}
      <p class="h5 card-title{% if featured %} h1{% endif %}">{{ item.title }}</p>
      <p class="card-text">
        {%- if current_variant.compare_at_price != blank -%}
          <del class="text-danger me-1">{{ current_variant.compare_at_price | money }}</del>
        {%- endif -%}
        {{ current_variant.price | money | strip }}
      </p>
      <a href="{{ item.url | within: collection }}" class="btn btn-sm btn-secondary stretched-link">{{ 'general.navigation.discover_product' | t }}</a>
    </div>
  {% if featured %}
      </div>
    </div>
  {% endif %}
</div>
