{%- assign current_item_variant = item.selected_or_first_available_variant -%}
{%- assign featured_item_image = current_item_variant.featured_image | default: item.featured_image -%}
{%- assign featured_item_media = item.featured_media -%}
{%- assign featured_item_image_hover = item.images[1] -%}
{%- assign poster = "256x150" -%}
{%- assign image_size = '352x352' -%}
{%- assign image_mobile_size = '345x345' -%}
<a href="{{ item.url | within: collection }}" class="card card--product">

  {% if featured %}
    {%- assign poster = "635x400" -%}
    <div class="row no-gutters align-items-center">
      <div class="col-md-6">
  {% endif %}

  <div class="card-media">
    <div class="ratio ratio-1x1 ratio--contain bg-light">
      {%- if featured_item_media -%}
        {% case featured_item_media.media_type %}
          {% when 'image' %}
            {% render 'image', src: featured_item_image, size: image_size, mobile_size: image_mobile_size, img_class: 'card-img-top' %}
          {% when 'external_video' %}
            {% render 'external-video', media: featured_item_media %}
          {% when 'video' %}
            {% render 'video', media: featured_item_media, ratio: false, poster: poster, autoplay: true, mutted: true %}
        {% endcase %}
      {%- endif -%}
    </div>
    {%- if featured_item_image_hover -%}
      <div class="ratio ratio-1x1 ratio--contain bg-light">
        {% render 'image', src: featured_item_image_hover, size: image_size, mobile_size: image_mobile_size, img_class: 'card-img-top' %}
      </div>
    {%- endif -%}
    {%- if item.metafields.status.web -%}
      <span class="badge bg-secondary">{{ 'products.product.exclu_web' | t }}</span>
    {%- endif -%}
    {%- if current_item_variant.compare_at_price != nil -%}
      <span class="badge bg-danger">{{ 'products.product.sale' | t }}</span>
    {%- endif -%}
  </div>

  {% if featured %}
    </div>
    <div class="col-md-6">
  {% endif %}

    <div class="card-body">
      {% unless item.available %}<span class="badge bg-danger">{{ 'products.product.sold_out' | t }}</span>{% endunless %}
      <p class="card-vendor">{{ item.vendor }}</p>
      <p class="card-title{% if featured %} h1{% endif %}">{{ item.title }}</p>
      <p class="card-text">
        {%- if current_item_variant.compare_at_price != nil -%}
          <del class="text-danger me-1">{{ current_item_variant.compare_at_price | money }}</del>
        {%- endif -%}
        {{ current_item_variant.price | money | strip }}
      </p>
    </div>
  {% if featured %}
      </div>
    </div>
  {% endif %}
</a>
