{% assign push_size = 'x554' %}
{%- if container != 'container' -%}
  {% assign push_size = 'x600' %}
{%- endif -%}

<div class="card">
  <div class="ratio {{ ratio }} bg-light">
    {%- if image -%}
      {%- include 'image', src: image, size: push_size, alt: custom_title, img_class: 'img-fluid' -%}
    {%- elsif item.image -%}
      {%- include 'image', src: item.image, size: push_size, alt: custom_title, img_class: 'img-fluid' -%}
    {%- endif -%}
  </div>
  <div class="card-img-overlay">
    <div class="row {{ row_class }} h-100">
      <div class="col-md-6 {{ col_class }}">
        {%- if custom_title != blank -%}
          <h2 class="display-4">{{ custom_title }}</h2>
        {%- endif -%}
        {%- if custom_subtitle != blank -%}
          <p>{{ custom_subtitle }}</p>
        {%- endif -%}
        {%- if custom_url != blank -%}
          <a href="{{ custom_url }}" class="btn {{ cta_style }} stretched-link">{{ custom_cta }} <span class="material-icons-outlined">trending_flat</span></a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
