<h1 class="mb-5">{{ 'customer.account.title' | t }}</h1>

<div class="row">
  <div class="col-md-8">
    <div id="customer_orders">
      <h2>Orders</h2>
      {% paginate customer.orders by 10 %}
      {% if customer.orders.size != 0 %}
        {% for order in customer.orders %}
          <!-- order details here -->
        {% endfor %}
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    <h2>{{ 'customer.addresses.title' | t }}</h2>
    <p class="mb-0"><strong>{{ 'customer.addresses.default' | t }}</strong></p>
    {% if customer.default_address %}
      {{ customer.default_address | format_address }}
    {% endif %}
    <p><a href="{{ routes.account_addresses_url }}" class="btn btn-outline-primary">{{ 'customer.addresses.view' | t }}</a></p>
    {{ 'customer.account.log_out' | t | customer_logout_link | replace: '<a', '<a class="btn btn-outline-danger"' }}
  </div>
</div>
