<h1 class="mb-5">{{ 'customer.account.title' | t }}</h1>

<div class="row">
  <div class="col-md-8">
    <div id="customer_orders">
      <h2>Orders</h2>
      {% paginate customer.orders by 10 %}
      {% if customer.orders.size != 0 %}
      <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
            <th scope="col">{{ 'customer.orders.date' | t }}</th>
            <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
            <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th scope="col">{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
        {% for order in customer.orders %}
          <tr>
            <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
              <a href="{{ order.customer_url }}" class="btn btn-secondary btn-sm" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
            </th>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
            {%- if order.financial_status == 'unfulfilled' -%}
              {%- assign financial_status = 'danger' -%}
            {%- elsif order.financial_status contains 'refunded' -%}
              {%- assign financial_status = 'info' -%}
            {%- elsif order.financial_status contains 'paid' -%}
              {%- assign financial_status = 'success' -%}
            {%- else -%}
              {%- assign financial_status = 'warning' -%}
            {%- endif -%}
            <td data-label="{{ 'customer.orders.payment_status' | t }}"><span class="badge bg-{{ financial_status }}">{{ order.financial_status_label }}</span></td>
            {%- if order.fulfillment_status == 'unfulfilled' -%}
              {%- assign fulfillment_status = 'danger' -%}
            {%- elsif order.fulfillment_status contains 'refunded' -%}
              {%- assign fulfillment_status = 'info' -%}
              {%- elsif order.fulfillment_status == 'fulfilled' -%}
                {%- assign fulfillment_status = 'success' -%}
              {%- else -%}
                {%- assign fulfillment_status = 'warning' -%}
              {%- endif -%}
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}"><span class="badge bg-{{ fulfillment_status }}">{{ order.fulfillment_status_label }}</span></td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    <h2>{{ 'customer.addresses.title' | t }}</h2>
    <p class="mb-0"><strong>{{ 'customer.addresses.default' | t }}</strong></p>
    {% if customer.default_address %}
      {{ customer.default_address | format_address }}
    {% endif %}
    <p><a href="{{ routes.account_addresses_url }}" class="btn btn-outline-primary">{{ 'customer.addresses.view' | t }}</a></p>
    {{ 'customer.account.log_out' | t | customer_logout_link | replace: '<a', '<a class="btn btn-outline-danger"' }}
  </div>
</div>
