<div class="row">
  <div class="col-md-8 offset-md-2">

    <h1>New Address</h1>
    {% form 'customer_address', customer.new_address %}

    {{ form.errors | default_errors }}

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="first_name" class="form-label">{{ 'customer.addresses.first_name' | t }}</label>
        <input type="text" class="form-control" value="" name="address[first_name]" id="first_name" size="30" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="last_name" class="form-label">{{ 'customer.addresses.last_name' | t }}</label>
        <input type="text" class="form-control" value="" name="address[last_name]" id="last_name" size="30" />
      </div>
      <div class="col-12 mb-3">
        <label for="company" class="form-label">{{ 'customer.addresses.company' | t }}</label>
        <input type="text" class="form-control" value="" name="address[company]" id="company" />
      </div>
      <div class="col-12 mb-3">
        <label for="address1" class="form-label">{{ 'customer.addresses.address1' | t }}</label>
        <input type="text" class="form-control" value="" name="address[address1]" id="address1" />
      </div>
      <div class="col-12 mb-3">
        <label for="address2" class="form-label">{{ 'customer.addresses.address2' | t }}</label>
        <input type="text" class="form-control" value="" name="address[address2]" id="address2" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="city" class="form-label">{{ 'customer.addresses.city' | t }}</label>
        <input type="text" class="form-control" value="" name="address[city]" id="city" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="zip" class="form-label">{{ 'customer.addresses.zip' | t }}</label>
        <input type="text" value="" name="address[zip]" class="form-control" id="zip">
      </div>
      <div class="col-md-6 mb-3">
        <label for="province" class="form-label">{{ 'customer.addresses.province' | t }}</label>
        <select name="address[province]" class="form-control" id="province"></select>
      </div>
      <div class="col-md-6 mb-3">
        <!-- See docs for @shopify/theme-addresses to support Country and Province -->
        <label for="country" class="form-label">{{ 'customer.addresses.country' | t }}</label>
        <select name="address[country]" class="form-control" id="country"></select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">{{ 'customer.addresses.phone' | t }}</label>
        <input type="tel" value="" name="address[phone]" class="form-control" id="phone">
      </div>
  </div>
</div>
</div>

{% endform %}
