<h1>{{ 'customer.addresses.title' | t }}</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal_new">
  {{ 'customer.addresses.add_new' | t }}</a>
</button>

<div class="row mt-5">
  {% for address in customer.addresses %}
    <div class="col-md-4 mb-3">
      <div class="card h-100 {% if customer.default_address.id == address.id %}bg-light{% endif %}">
        <div class="card-body">
          {{ address | format_address }}
          <button
            class="btn btn-link"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addressModal_{{ address.id }}"
          >
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button
            class="btn btn-outline-danger js-address-delete"
            type="button"
            data-target="{{ address.url }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            {{ 'customer.addresses.delete' | t }}
          </button>
          {%- include 'modal-address', address: address, edit: true -%}
        </div>
        {% if customer.default_address.id == address.id %}
          <div class="card-footer">{{ 'customer.addresses.default' | t }}</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{%- include 'modal-address', address: customer.new_address -%}
