<div class="row">
  <div class="col-md-6 offset-md-3">

    <div>
      {{ 'customer.account.create' | t | customer_register_link | replace: '<a', '<a class="d-block btn-lg btn btn-primary"' }}
    </div>

    <hr class="my-5">

    <div class="border bg-light p-4 mb-2">
      <h1>{{ 'customer.login.title' | t }}</h1>
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" required>
          <label for="customer_email" class="form-label">{{ 'customer.login.email' | t }}</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}" required>
          <label for="customer_password" class="form-label">{{ 'customer.login.password' | t }}</label>
          <small><a href="#collapsePassword" data-bs-toggle="collapse" data-bs-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">{{ 'customer.login.forgot_password' | t }}</a></small>
        </div>

        <input type="submit" value="{{ 'customer.login.sign_in' | t }}" class="btn btn-primary">
      {% endform %}
    </div>

    <div class="collapse" id="collapsePassword">
      <p class="mb-1">{{ 'customer.recover_password.title' | t }}</p>
      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" placeholder="{{ 'customer.recover_password.email' | t }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <label for="customer_email">{{ 'customer.recover_password.email' | t }}</label>
        </div>

        <input type="submit" value="{{ 'customer.recover_password.submit' | t }}" class="btn btn-outline-dark" />
      {% endform %}
    </div>

  </div>
</div>
