<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="border bg-light p-4">
      <h2>{{ 'customer.login.title' | t }}</h2>
      {% form 'customer_login' %}

      {{ form.errors | default_errors }}

      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="customer[email]" required>
        <label for="customer_email" class="form-label">{{ 'customer.login.email' | t }}</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="customer[password]" required>
        <label for="customer_password" class="form-label">{{ 'customer.login.password' | t }}</label>
      </div>

      <input type="submit" value="{{ 'customer.login.sign_in' | t }}" class="btn btn-primary">
    </div>

    {% endform %}

    <hr class="my-5">

    <p>{{ 'customer.login.forgot_password' | t }}</p>
    {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <div class="form-floating mb-3">
      <input type="email" name="email" class="form-control" required>
      <label for="customer_email" class="form-label">{{ 'customer.login.email' | t }}</label>
    </div>

    <input type="submit" value="{{ 'customer.login.sign_in' | t }}" class="btn btn-outline-dark" />

    {% endform %}
  </div>
</div>
