<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="border bg-light p-4">
      <h1 class="h3">{{ 'customer.register.title' | t }}</h1>
      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class="form-floating mb-3">
          <input type="text" placeholder="{{ 'customer.register.first_name' | t }}" value="" class="form-control" name="customer[first_name]" size="30" />
          <label for="first_name" class="form-label">{{ 'customer.register.first_name' | t }}</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" placeholder="{{ 'customer.register.last_name' | t }}" value="" class="form-control" name="customer[last_name]" size="30" />
          <label for="last_name" class="form-label">{{ 'customer.register.last_name' | t }}</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{ 'customer.register.email' | t }}" value="" class="form-control" name="customer[email]" size="30" />
          <label for="email" class="form-label">{{ 'customer.register.email' | t }}</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" placeholder="{{ 'customer.register.password' | t }}" value="" class="form-control" name="customer[password]" size="30" />
          <label for="password" class="form-label">{{ 'customer.register.password' | t }}</label>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" name="customer[accepts_marketing]" class="form-check-input" value="true" id="marketing" />
          <label for="marketing" class="form-check-label">{{ 'customer.register.marketing' | t }}</label>
        </div>

        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-primary" />
      {% endform %}
    </div>

  </div>
</div>
