{%- assign logo = settings.header_logo -%}
{%- assign itemCart = '' -%}
{%- if cart.item_count > 0 -%}
  {%- assign itemCart = cart.item_count -%}
{%- endif -%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ shop.secure_url }}">
      {%- if logo -%}
        <img src="{{ logo | img_url }}" alt="{{ shop.name }}">
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </a>

    <a href="{{ routes.cart_url }}" class="ms-auto me-2 d-lg-none cart__notif" title="{{ 'cart.general.title' | t }}">
      <span class="material-icons-outlined">shopping_bag</span>
      <span class="notif js-cart-notif">{{ itemCart }}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      {%- include 'menu-primary' -%}
      {%- include 'menu-user' -%}
    </div>

  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "sticky-top",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Informative message at the top of the page.",
        "fr": "Message informatif en haut de la page."
      }
    },
    {
      "type": "textarea",
      "id": "top_message",
      "label": {
        "en": "Message",
        "fr": "Message"
      },
      "placeholder": {
        "en": "Message",
        "fr": "Message"
      }
    },
    {
      "type": "select",
      "id": "top_type_message",
      "label": {
        "en": "Which type?",
        "fr": "Quel type ?"
      },
      "default": "warning",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "info",
          "label": "Info"
        },
        {
          "value": "danger",
          "label": "Danger"
        },
        {
          "value": "warning",
          "label": "Warning"
        },
        {
          "value": "success",
          "label": "Success"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "top_align_message",
      "default": false,
      "label": {
        "en": "Center text?",
        "fr": "Centrer le texte ?"
      }
    }
  ]
}
{% endschema %}
