{%- assign background = section.settings.id_background -%}
{%- assign blocks = section.blocks -%}
{%- if blocks.size > 0 -%}
  <hr class="mb-0">
  {%- if background -%}
    {%- assign custom_background = 'bg-light' -%}
  {%- endif -%}
  <section class="{{ custom_background }} py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ blocks.size }}">
        {%- for block in blocks -%}
          <div class="col mb-3 mb-lg-0">
            <span class="material-icons-outlined">{{ block.settings.icon }}</span>
            <h5>{{ block.settings.title }}</h5>
            <div class="text-muted">{{ block.settings.text }}</div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": {
    "en": "Reassurance",
    "fr": "Réassurance"
  },
  "tag": "section",
  "class": "section--reassurance",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "block",
      "name": {
        "en": "Block",
        "fr": "Block"
      },
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": {
            "en": "Icon",
            "fr": "Icon"
          },
          "info": "Material Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title",
            "fr": "Titre"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Text",
            "fr": "Texte"
          }
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "id_background",
      "default": false,
      "label": {
        "en": "Grey background?",
        "fr": "Arrière plan gris ?"
      }
    }
  ]
}
{% endschema %}
