  <h1>Cart</h1>
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped">
          <thead>
            <th colspan="2">Prod</th>
            <th>Price</th>
            <th>Qty</th>
            <th>total</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td>
                  <a href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                  </a>
                </td>
                <td>
                  <h5><a href="{{ item.url }}">{{ item.product.title }}</a></h5>
                  <p>{{ item.variant.title }}</p>

                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                        {{ p.first }}:
                        {% if p.last contains '/uploads/' %}
                          <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                        <br>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}

                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-danger">remove</a>
                </td>
                <td>{{ item.price | money }}</td>
                <td>
                  <input type="number" class="form-control" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max="100">
                </td>
                <td>
                  {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" name="update" class="btn btn-secondary">Update</button>
      </div>
      <div class="col-md-3 offset-md-1">
        <h2>Résumé</h2>
        <p>Sub total : {{ cart.total_price | money }}</p>
        <button type="submit" name="checkout" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </form>
  {% else %}
    <p>Cart is empty</p>
  {% endif %}
