<div class="container py-5">
  {% paginate collection.products by 2 %}
    <h1>{{ collection.title }}</h1>
    <div class="card-group">
      {% for product in collection.products %}
        {% include 'product', product: product %}
        <!-- <div>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          {{ product.price | money }}
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
          <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          </a>
        </div> -->
      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {%- include 'pagination', paginate: paginate -%}
    {% endif %}
  {% endpaginate %}
</div>
