{% layout 'theme.fluid' %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign featured_media = product.featured_media %}

{% assign statut = 'instock' %}
{% if product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'preorder' %}
{% elsif product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'outofstock' %}
{% endif %}

<section itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
  <meta itemprop="price" content="{{ current_variant.compare_at_price | money_without_currency }}">

  <div class="container py-5">
    <div class="row">
      <div class="col-md-7 mb-3 mb-md-0">
        <div class="product__media">
          {%- include 'product-images' -%}
          {%- if product.metafields.status.web -%}
            <span class="badge bg-secondary">{{ 'products.product.exclu_web' | t }}</span>
          {%- endif -%}
          {%- if current_item_variant.compare_at_price != nil -%}
            <span class="badge bg-danger">{{ 'products.product.sale' | t }}</span>
          {%- endif -%}
        </div>
      </div>
      <div class="col-md-5">
        <div class="product__content">

          <p class="product__vendor">{{ product.vendor }}</p>
          <h1 itemprop="name">{{ product.title }}</h1>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <link itemprop="availability" href="http://schema.org/{% if statut == 'instock' %}InStock{% elsif statut == 'preorder' %}PreOrder{% else %}OutOfStock{% endif %}">
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <p class="mb-2 lead price">
              <del class="js-product-price-discount">{%- if current_variant.compare_at_price != nil -%}
                {{ current_variant.compare_at_price | money | strip }}
              {%- endif -%}</del>
              <span class="js-product-price">{{ current_variant.price | money }}</span>
            </p>
          </div>

          <div class="rte" itemprop="description">{{ product.description | strip }}</div>
          {%- if product.metafields.descriptors.detail -%}
            <a href="#description" class="small text-muted">Description du produit</a>
          {%- endif -%}

          {% capture "form_classes" %}mt-3 js-addtocart-form{%- endcapture %}
          {% form 'product', product, class:form_classes, data-product-form: '', data-product-handle: product.handle %}
            <input type="hidden" id="Quantity" name="quantity" value="1" class="js-product-qty">

            {%- section 'product-variant' -%}

            <button type="submit" name="add" class="product__cta btn btn-primary js-addtocart">{{ "products.product.add_to_cart" | t }}</button>

            {%- include 'product-widget' -%}

          {% endform %}

        </div>
      </div>
    </div>

    {%- if product.metafields.descriptors.detail -%}
      <hr>
      <div id="description">
        <h2>{{ 'products.product.description' | t }}</h2>
        {{ product.metafields.descriptors.detail | newline_to_br }}
      </div>
    {%- endif -%}

  </div>
</section>

{%- include 'product-related' -%}

{%- section 'product-same-collection' -%}
