{% layout 'theme.fluid' %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign featured_media = product.featured_media %}

{% assign statut = 'instock' %}
{% if product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'preorder' %}
{% elsif product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'outofstock' %}
{% endif %}

<section itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="priceCurrency" content="{{ currency.iso_code }}">
  <meta itemprop="price" content="{{ current_variant.compare_at_price | money_without_currency }}">

  <div class="container py-5">
    <div class="row">
      <div class="col-md-7">
        {%- include 'product-images' -%}
      </div>
      <div class="col-md-5">

        <h1 itemprop="name">{{ product.title }}</h1>
        <p>{{ product.vendor }}</p>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <link itemprop="availability" href="http://schema.org/{% if statut == 'instock' %}InStock{% elsif statut == 'preorder' %}PreOrder{% else %}OutOfStock{% endif %}">
          <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
          <p class="mb-2 lead">
            {%- if current_variant.compare_at_price != current_variant.price -%}
              <del class="text-danger me-1 js-product-price-discount">{{ current_variant.compare_at_price | money }}</del>
            {%- endif -%}
            <span class="js-product-price">{{ current_variant.price | money }}</span>
          </p>
        </div>
        <pre>
          <ul>
            <li>requires_selling_plan: {{product.requires_selling_plan}}</li>
            <li>selected_selling_plan: {{product.selected_selling_plan}}</li>
            <li>
              selected_or_first_available_selling_plan_allocation:
              {%- for selling_plan_allocation in product.selected_or_first_available_selling_plan_allocation -%}
                  <ul>
                    <li>compare_at_price: {{ selling_plan_allocation.compare_at_price }}</li>
                    <li>per_delivery_price: {{ selling_plan_allocation.per_delivery_price }}</li>
                    <li>price: {{ selling_plan_allocation.price }}</li>
                    <li>price_adjustments: {{ selling_plan_allocation.price_adjustments }}</li>
                    <li>selling_plan_group_id: {{ selling_plan_allocation.selling_plan_group_id }}</li>
                    <li>unit_price: {{ selling_plan_allocation.unit_price }}</li>
                  </ul>
              {%- endfor -%}
            </li>
            <li>selected_selling_plan_allocation: {{product.selected_selling_plan_allocation}}</li>
            <li>
              selling_plan_group:
              {%- for selling_plan in product.selling_plan_group -%}
                  <ul>
                    <li>id: {{ selling_plan.id }}</li>
                    <li>name: {{ selling_plan.name }}</li>
                  </ul>
              {%- endfor -%}
            </li>
          </ul>
        </pre>

        <div class="rte" itemprop="description">{{ product.description | strip }}</div>

        <hr>

        {% capture "form_classes" %}js-addtocart-form{%- endcapture %}
        {% form 'product', product, class:form_classes, data-product-form: '', data-product-handle: product.handle %}

          {%- section 'product-variant' -%}

          <hr>

          <div class="row align-items-center flex-nowrap">
            <div class="col-4">
              <div class="form-floating">
                <input type="number" id="Quantity" name="quantity" value="1" min="1" max="100" class="form-control js-product-qty" placeholder="1">
                <label for="Quantity" class="form-label">{{ "products.product.quantity" | t }}</label>
              </div>
            </div>
            <div class="col">
              <button type="submit" name="add" class="btn btn-primary js-addtocart">{{ "products.product.add_to_cart" | t }}</button>
            </div>
          </div>

          <div class="product__widget js-addtocart-widget">
            <div class="container">
              <span class="h2">{{ product.title }}</span>
              <span class="js-product-price">{{ current_variant.price | money }}</span>
              <button type="submit" name="add" class="btn btn-sm btn-primary js-addtocart">{{ "products.product.add_to_cart" | t }}</button>
            </div>
          </div>

        {% endform %}

      </div>
    </div>
  </div>
</section>

{%- section 'product-related' -%}
