{% layout 'theme.fluid' %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign featured_media = product.featured_media %}

{% assign statut = 'instock' %}
{% if product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'preorder' %}
{% elsif product.available and current_variant.inventory_policy != 'deny' %}
  {% assign statut = 'outofstock' %}
{% endif %}

<section itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
  <meta itemprop="price" content="{{ current_variant.compare_at_price | money_without_currency }}">

  <div class="container py-5">
    <div class="row">
      <div class="col-md-7 mb-3 mb-md-0">
        <div class="product__media">
          {%- include 'product-images' -%}
          {%- if product.metafields.status.web -%}
            <span class="badge bg-danger">{{ 'products.product.exclu_web' | t }}</span>
          {%- endif -%}
        </div>
      </div>
      <div class="col-md-5">
        <div class="product__content">

          <h1 itemprop="name">{{ product.title }}</h1>
          <p>{{ product.vendor }}</p>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <link itemprop="availability" href="http://schema.org/{% if statut == 'instock' %}InStock{% elsif statut == 'preorder' %}PreOrder{% else %}OutOfStock{% endif %}">
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <p class="mb-2 lead price">
              <del class="js-product-price-discount">{%- if current_variant.compare_at_price != nil -%}
                {{ current_variant.compare_at_price | money | strip }}
              {%- endif -%}</del>
              <span class="js-product-price">{{ current_variant.price | money }}</span>
            </p>
          </div>

          <div class="rte" itemprop="description">{{ product.description | strip }}</div>
          {%- if product.metafields.descriptors.detail -%}
            <a href="#description" class="small text-muted">Description du produit</a>
          {%- endif -%}

          {% capture "form_classes" %}mt-3 js-addtocart-form{%- endcapture %}
          {% form 'product', product, class:form_classes, data-product-form: '', data-product-handle: product.handle %}

            {%- section 'product-variant' -%}

            <div class="product__cta">
              <div class="col-12 col-lg-4">
                <div class="form-floating">
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" max="100" class="form-control js-product-qty" placeholder="1">
                  <label for="Quantity" class="form-label">{{ "products.product.quantity" | t }}</label>
                </div>
              </div>
              <div class="col">
                <button type="submit" name="add" class="btn btn-primary js-addtocart">{{ "products.product.add_to_cart" | t }}</button>
              </div>
            </div>

            {%- include 'product-widget' -%}

          {% endform %}

        </div>
      </div>
    </div>

    {%- if product.metafields.descriptors.detail -%}
      <hr>
      <div id="description">
        <h2>{{ 'products.product.description' | t }}</h2>
        {{ product.metafields.descriptors.detail | newline_to_br }}
      </div>
    {%- endif -%}

  </div>
</section>

{% assign related_1 = product.metafields.related.product_1 %}
{% assign related_2 = product.metafields.related.product_2 %}
{% assign related_3 = product.metafields.related.product_3 %}
{%- if related_1 or related_2 or related_3 -%}
  <section id="related">
    <div class="container pb-5">
      <hr>
      <h2>{{ 'products.product.related' | t }}</h2>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {%- if related_1 -%}
        <div class="col">
          {%- include 'product', item: related_1 -%}
        </div>
        {%- endif -%}
        {%- if related_2 -%}
        <div class="col">
          {%- include 'product', item: related_2 -%}
        </div>
        {%- endif -%}
        {%- if related_3 -%}
        <div class="col">
          {%- include 'product', item: related_3 -%}
        </div>
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}

{%- section 'product-related' -%}
